body {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}

header{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #1f2971;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

.header-logo-img {
    width: 100px;
    height: auto;
}

.header-logo-text {
    font-size: 24px;
    color: white;
}

.header-links {
    display: flex;
    margin: 15px;
    width: 250px;
    justify-content: space-between;
    margin-right: 100px;
}

.link-basico {
    text-decoration: none;
    color: white;
}